<h1>
  Reactive Form
</h1>

<div [formGroup]="registrationForm" class="container-fluid">
    <div  class="form-group"> 
      <label>Username</label>
      <input formControlName="userName" class="form-control" type="text">
    </div>

    <div class="form-group"> 
      <label>Password</label>
      <input formControlName="passWord" class="form-control" type="password">
    </div>

    <div class="form-group"> 
      <label>Confirm Password</label>
      <input formControlName="confirmPassword" class="form-control" type="text">
    </div>

    <div formGroupName="address">
      
      <div class="form-group"> 
        <label>City</label>
        <input formControlName="city" class="form-control" type="text">
      </div>

      <div class="form-group"> 
        <label>State</label>
        <input formControlName="state" class="form-control" type="text">
      </div>

      <div class="form-group"> 
        <label>Country</label>
        <input formControlName="country" class="form-control" type="text">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-secondry" type="button" (click)="onLoadApi()">Load Api</button>
    {{registrationForm.value | json}}
</div>